<% @copiers.each do |copier| %>
  <div class="row copier">

    <div class="col-xs-12 col-md-5">
      <div class="panel-left text-center">
        <div class="panel-left-header">
          <h4><% if copier.promocja? %>PROMOCJA!!!<% end %></h4>
        </div>
        <div class="panel-left-body">
          <%= image_tag copier.image.thumb.url if copier.image? %>
        </div>
        <div class="panel-left-footer">
          <h4>Cena: <%= copier.cena %> zł</h4>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-7">
      <div class="panel-right">
        <div class="panel-right-header text-center">
          <h4><%= copier.nazwa %></h4>
        </div>
        <div class="panel-right-body">
          <table class="table table-striped">
            <tr>
              <th>Stan</th>
              <td><%= copier.stan %></td>
            </tr>
            <tr>
              <th>Funkcjonalność w standardzie</th>
              <td><%= copier.funkcjonalnosc_st %></td>
            </tr>
            <tr>
              <th>Funkcjonalność opcjonalna</th>
              <td><%= copier.funkcjonalnosc_op %></td>
            </tr>
            <tr>
              <th>Prędkość drukowania A4</th>
              <td><%= copier.predkosc_drukowania %> stron/minutę</td>
            </tr>
            <tr>
              <th>Drukowanie dwustronne (duplex)</th>
              <td><% if copier.duplex? %>tak<% else %>nie<% end %></td>
            </tr>
            <tr>
              <th>Formaty oryginałów</th>
              <td><%= copier.formaty_oryginalow %></td>
            </tr>
          </table>
          <div id="<%= copier.id.to_s %>" class="panel-collapse collapse">
            <table class="table table-striped">
              <tr>
                <th>Podajniki papieru w standardzie</th>
                <td><%= copier.podajnik_papieru_st %></td>
              </tr>
              <tr>
                <th>Gramatura papieru</th>
                <td><%= copier.gramatura_papieru %> g/m<sup>2</sup></td>
              </tr>
              <tr>
                <th>Rozdzielczość drukowania</th>
                <td><%= copier.rozdzielczosc_drukowania %> dpi</td>
              </tr>
              <tr>
                <th>Rozdzielczość kopiowania</th>
                <td><%= copier.rozdzielczosc_kopiowania %> dpi</td>
              </tr>
              <tr>
                <th>Tryby skanowania</th>
                <td><%= copier.tryb_skanowania %></td>
              </tr>
              <tr>
                <th>Drukowanie sieciowe</th>
                <td><% if copier.drukowanie_sieciowe? %>tak<% else %>nie<% end %></td>
              </tr>
              <tr>
                <th>Podajnik oryginałów w standardzie</th>
                <td><% if copier.podajnik_oryginalow_st? %>tak<% else %>nie<% end %></td>
              </tr>
              <tr>
                <th>Dysk HDD</th>
                <td><% if copier.dysk_hdd? %>tak<% else %>nie<% end %></td>
              </tr>
              <tr>
                <th>Druk z nośników danych</th>
                <td><% if copier.druk_nosniki_danych? %>tak<% else %>nie<% end %></td>
              </tr>
              <tr>
                <th>Czas nagrzewania</th>
                <td><%= copier.czas_nagrzewania %> sekund</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="panel-right-footer">
          <ul class="list">
            <li><%= link_to "Więcej", "#" + copier.id.to_s, class: "btn btn-info", data: { toggle: "collapse", target: "#" + copier.id.to_s } %></li>
          </ul>
          <% if user_signed_in? %>
            <ul class="list pull-right">
              <li><%= link_to "Edytuj", edit_copier_path(copier), class: "btn btn-warning", method: :get %></li>
              <li><%= link_to "Usuń", copier, method: :delete, data:{ confirm: "Czy na pewno chcesz usunąć kserokopiarkę?"}, class: "btn btn-danger", method: :get %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
