<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Abart", "#", :class => "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "O nas", "#about" %></li>
        <li><%= link_to "Kserokopiarki", "#copiers" %></li>
        <li><%= link_to "Inne urządzenia", "#other_devices" %></li>
        <li><%= link_to "Serwis", "#service" %></li>
        <li><%= link_to "Tonery i tusze", "#toners" %></li>
        <li><%= link_to "Kontakt", "#contact" %></li>
      </ul>
    </div>
  </div>
</nav>
