<section id="about_us">
  <a name="about"></a>
  <div class="row">
    <div class="col-sm-12 text-center welcome">
      <h2>Serdecznie witamy w serwisie internetowym firmy <b>Abart</b>.</h2>
      <h3>Dlaczego to właśnie my powinniśmy zadbać o Twój sprzętem biurowym:</h3>
    </div>
  </div>
  <div class="panels-wrapper">
    <div class="row">
      <div class="col-sm-4 panel-item">
        <div class="panel">
          <div class="panel-header">
            <%= image_tag("klient.png", :class => "img-responsive") %>
          </div>
          <div class="panel-body text-center">
            <h3>Dbałość o klienta</h3>
            <p>Nasi stali klienci cenią sobie szybkość i solidność, dlatego oferujemy najkrótszy na rynku czas reakcji oraz gwarantujemy satysfakcję ze współpracy.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 panel-item">
        <div class="panel">
          <div class="panel-header">
            <%= image_tag("oferta.png", :class => "img-responsive") %>
          </div>
          <div class="panel-body text-center">
            <h3>Atrakcyjne oferty</h3>
            <p>Naszym klientom gwarantujemy najniższe ceny sprzętu oraz najwyższy poziom usług. Zawsze oferujemy najkorzystniejsze warunki zakupu.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 panel-item">
        <div class="panel">
          <div class="panel-header">
            <%= image_tag("jakosc.png", :class => "img-responsive") %>
          </div>
          <div class="panel-body text-center">
            <h3>Jakość</h3>
            <p>Dajemy gwarancję na sprzęt używany oraz zapewniamy, że jest on sprawdzony i najwyższej jakości, tak samo jak poziom naszych usług.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 panel-item">
        <div class="panel">
          <div class="panel-header">
            <%= image_tag("wiedza.png", :class => "img-responsive") %>
          </div>
          <div class="panel-body text-center">
            <h3>Wiedza i doświadczenie</h3>
            <p>Posiadajamy 10 letnie doświadczenie oraz niezbędną wiedzę w serwisowaniu urządzeń biurowych.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 panel-item">
        <div class="panel">
          <div class="panel-header">
            <%= image_tag("pasja.png", :class => "img-responsive") %>
          </div>
          <div class="panel-body text-center">
            <h3>Pasja</h3>
            <p>To czym się zajmujemy jest nie tylko naszą pracą, ale przede wszystkim pasją. Poświęciliśmy wiele lat życia by robić to, co prawdziwie kochamy.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 panel-item">
        <div class="panel">
          <div class="panel-header">
            <%= image_tag("wyzwanie.png", :class => "img-responsive") %>
          </div>
          <div class="panel-body text-center">
            <h3>Wyzwania</h3>
            <p>Podejmujemy się najbardziej skomplikowanych napraw, nawet jeśli inny serwis nie był w stanie rozwiązać problemu.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
